.history
*.fls
*.log
*.lof
*.lot
*.aux
*.toc
*.bbl
*.blg
*.lol
*.out
*.acn
*.bcf
*.glo
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.loa
*.mw
*.nlo
*.xmpi
*.pdf
*.pdf_tex
*.pyg
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.synctex(busy)
*.nav
*.snm
*.vrb
/**/_minted-*/
.DS_Store
slides/reveal.js
slides/*.html
roynard.thesis.2022.tar.gz
cdrom/
*.metadata